Code/
GIMP/
GitKraken/
Google/
JetBrains/
Thunar/
appimagelauncher.cfg
autostart/
bat/
bleachbit/
btop/
cef_user_data/
dconf/
deluge/
discord/
dolphinrc
falkon/
flameshot/
flutter/
foot/
galculator/
garuda/
github-copilot/
google-chrome/
unityhub/
.vscode/
unity3d/
gedit/
Postman/
qt6ct/
geany/
BetterDiscord Installer/
kiorc
konsolerc
trashrc
konsolesshconfig
konsole.kmessagebox
htop/
jamesdsp/
kanshi/
kate/
katemetainfos
katerc
katevirc
/eog
kde.org/
libinput-gestures.conf
/Kingsoft
/balena-etcher
kglobalshortcutsrc
knfsshare
gh/
opera/
/yarn
onlyoffice/
exercism/
libfm/
libreoffice/
micro/
mimeapps.list
mpv/
obs-studio/
pcmanfm-qt/
nautilus/
obsidian/
octopi/
pamac/
pavucontrol.ini
pcmanfm/
psd/
pulse/
ranger/
session/
smplayer/
stacer/
starship.toml
starship_cat.toml
swappy/
tmp/
user-dirs.dirs
user-dirs.locale
vlc/
vscode-sqltools/
xfce4/
xsettingsd/
QtProject.conf
pacmac/
#ulauncher/
#swaylock/
#swaync/
#systemd/
#waybar/
#wofi/
#wpaperd/
#nwg-drawer/
#nwg-launchers/
#nwg-look/
#Kvantum/
#QtProject.conf
#alacritty/
#cava/
#copyq/
#fish/
#mako/
#gtk-2.0/
#gtk-3.0/
#gtk-4.0/
#hypr/
#kitty/
#neofetch/
#qt5ct/
copyq/

ulauncher/user-themes/

kwriterc
